@(clsName: String, loids: Seq[Long], page: Int)(implicit flash: Flash, lang: Lang)

@import com.versant.jpa.LoidUtil

@main(Messages("application.name")) {
  <h2>@Messages("instances") <a href="@controllers.routes.Classes.showClass(clsName)">@clsName</a></h2>
  <p>@Messages("noInstances") @loids.length</p>
  <p>Page @page of @{(loids.length / 20) + 1}</p>
  
  <ol>
    @for(loid <- loids) {
      <li>
        <a href="@controllers.routes.Classes.showInstance(loid)">
          @LoidUtil.convertLongToString(loid)
        </a>
      </li>
    }
  </ol>
}
