@import com.versant.jpa.generic.{ DatabaseObject, DatabaseField }
@import com.versant.jpa.LoidUtil
@import java.lang.Exception
@(instance: DatabaseObject, flds: Seq[DatabaseField])(implicit flash: Flash, lang: Lang)

@main(Messages("application.name")) {
  <h2>@Messages("instance") ( @LoidUtil.convertLongToString(instance.getLoid) )</h2>
  <p>@instance.getType.toString</p>
  
  <dl class="dl-horizontal">
    @for(fld <- flds) {
      <dt>@fld.getName</dt>
      <dd>@{
      	    try {
      	    // fld.get(instance).toString
      	       val obj = fld.get(instance)
      	       if (obj == null) {
      	       	 "#Null"
      	       } else {
      	         obj.toString
      	       }
      	    } catch {
      	      case e: Exception => println("Exception...." + e); "#Nil"
      	    }
      	  }
      </dd>
    }
  </dl>
}