@(instance: com.versant.jpa.generic.DatabaseObject, flds: Seq[com.versant.jpa.generic.DatabaseField])(implicit flash: Flash, lang: Lang)

@import play.api.Logger
@import com.versant.jpa.LoidUtil
@import java.lang.Exception

@main(Messages("application.name")) {
  <h2>@Messages("instance") ( @LoidUtil.convertLongToString(instance.getLoid) )</h2>
  <p>@instance.getType.toString</p>
  
  <dl class="products">
    @for(fld <- flds) {
      <dt>@fld.getName</dt>
      <dd>@{
      	    try {
      	       val obj = fld.get(instance)
      	       if (obj == null) {
      	       	 "#Null"
      	       } else {
      	         obj.toString
      	       }
      	    } catch {
      	      case e: Exception => Logger.logger.warn("Exception...." + e); "#Nil"
      	    }
      	  }
      </dd>
    }
  </dl>
}