@(clsName: String, loids: Seq[Long], page: Int, maxPage: Int, pageLength: Int, total: Int)(implicit flash: Flash, lang: Lang)

@import com.versant.jpa.LoidUtil

@main(Messages("application.name")) {
  <h2>@Messages("class.instances") <a href="@controllers.routes.Classes.showClass(clsName)">@clsName</a></h2>
  <p>@Messages("class.noInstances") @total</p>
  <p>Page @page of @maxPage</p>
  
  <ol start=@{1 + (page - 1) * pageLength}>
    @for(loid <- loids) {
      <li>
        <a href="@controllers.routes.Classes.showInstance(loid)">
          @LoidUtil.convertLongToString(loid)
        </a>
      </li>
    }
  </ol>
  
  @classes.paginate(page, pageLength, total, routes.Classes.allInstancesPage(clsName, _))
  
}
