@(cls: com.versant.jpa.generic.DatabaseClass, flds: Seq[com.versant.jpa.generic.DatabaseField])(implicit flash: Flash, lang: Lang)

@import com.versant.jpa.generic.{ DatabaseClass, DatabaseField }

@main(Messages("application.name")) {
  <h2>@Messages("fields") <em>@(if (cls != null) cls.getFullyQualifiedName)</em></h2>
  <p>Superclass: <b>
    @{
      if (cls != null) {
        val scls = cls.getSuperclass
    	  val sclsName = if (scls != null)
              """<a href="""" + scls.getName + """">""" + scls.getName + """</a>"""
            else
              "no superclass"
        play.twirl.api.Html(sclsName)
      } else {
        "no class"
      }
    }
  </b></p>
  <p> Subclasses:</br><b>
    @{
      if (cls != null) {
        val sclss = cls.getSubclasses
        val names = sclss map { scls => scls.getFullyQualifiedName }
        val links = sclss map { scls =>
          """<a href="""" + scls.getName + """">""" + scls.getName + """</a>"""
        }
        val ls = if (links.size > 0)
//        links.sorted.mkString("<p>", "</p><p>", "</p>")
          links.sorted.mkString("<ol><li>", "</li><li>", "</li></ol>")
//        links.sorted.mkString("<br>")
        else
          "no subclasses"
        play.twirl.api.Html(ls)
      } else {
        "no class"
      }
    }
  </b></p>
  <h3>@Messages("fieldnames")</h3>
    <p>@flds.size fields</p>
    <p><a href="@routes.Classes.allInstances(cls.getName)" class="btn">@Messages("instances")</a></p>
  </dl>
  <dl class="products">
    @for(fld <- flds) {
      <dt>@fld.getName</dt>
      <dd>@fld.getTypeName</dd>
    }
  </dl>
}
