@import com.versant.jpa.generic.{ DatabaseClass, DatabaseField }
@(cls: DatabaseClass, flds: Seq[DatabaseField])(implicit flash: Flash, lang: Lang)

@main(Messages("appication.name")) {
  <h2>@Messages("fields") @(if (cls != null) cls.getFullyQualifiedName)</h2>
  <p>Superclass: <b>
    @{
      if (cls != null) {
        val scls = cls.getSuperclass
    	  val sclsName = if (scls != null)
  	          scls.getFullyQualifiedName
  	        else
  	          "no superclass"
        sclsName
      } else {
        "no class"
      }
    }
  </b></p>
  <p> Subclasses:</br><b>
    @{
      if (cls != null) {
        val sclss = cls.getSubclasses
        val names = sclss map { scls => scls.getFullyQualifiedName }
        if (names.size > 0)
          names.mkString(", ")
        else
          "no subclasses"
      } else {
        "no class"
      }
    }
  </b></p>
  <h3>@Messages("fieldnames")</h3>
    <p>@flds.size fields</p>
    <p><a href="@routes.Classes.allInstances(cls.getFullyQualifiedName)" class="btn">@Messages("instances")</a></p>
  </dl>
  <dl class="dl-horizontal">
    @for(fld <- flds) {
      <dt>@fld.getName</dt>
      <dd>@fld.getTypeName</dd>
    }
  </dl>
}
