@(dbsNames: Seq[String], clsNames: Seq[String])(implicit flash: Flash, lang: Lang)

@main(Messages("application.name")) {
  <h2>
  @Messages("classes")
  </h2>
  <h3>@Messages("databases")</h3>
  <dl class="databases">
    @for(name <- dbsNames) {
      <dt>
  	    @name
  	  </dt>
    }
  </dl>
  <h3>@Messages("classnames")</h3>
  <p>@clsNames.size classes</p>
@*  
  <dl class="classnames">
    @for(name <- clsNames) {
      <dt>
        <a href="@controllers.routes.Classes.showClass(name)">@name</a>
      </dt>
    }
  </dl>
*@
  <ol>
    @for(name <- clsNames) {
      <li>
        <a href="@controllers.routes.Classes.showClass(name)">@name</a>
      </li>
    }
  </ol>
}