@(product: Product)(implicit flash: Flash, lang: Lang)

@main(Messages("product.details", product.name)) {
  <h2>
    @Messages("product.details", product.name)  
  </h2>
	
  Do you really want to delete @product.name ?

  <dl class="dl-horizontal">
    <dt>
      <p><a href="@controllers.routes.Products.deleted(product.ean)" class="btn">
      <i class="icon-ok"></i>@Messages("product.delete.ok")</a></p>
    </dt>
    <dd>
      <p><a href="@controllers.routes.Application.index" class="btn">
      <i class="icon-remove"></i>@Messages("product.delete.no")</a></p>
    </dd>
  </dl>
}